<form action="" method="post">
  <input type="hidden" name="">
  <input name="user[first_name]" type="text" placeholder="first_name">
  <input name="user[last_name]" type="text" placeholder="last_name">
  <input name="user[email]" type="email" placeholder="E-mail">
  <input name="user[password]" type="password" placeholder="Password">
  <button type="submit">Submit</button>
</form>